/* */

.stripe {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 40px 0px;
}

.card--selected {
    @extend .card;
    background-color: dodgerblue;
    color: white;
}

.card {
    transition: background-color 0.2s ease;
    display: flex;
    flex: 0 0 10%;
    flex-flow: column;
    border: 1px solid #afafaf;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    font-family: 'Open Sans', serif;
}


.card:hover {
    background-color: $warning;
    color: white;
}